<div class="banner d-flex justify-content-center flex-column align-items-center">
  <%= image_tag 'line banner.png', width: 650, id: 'line' %>
  <%= image_tag 'hand.png', width: 300, id: 'hand' %>
</div>

<div class="container">
  <div class="title d-flex justify-content-center">
    <h1>LIST OF COCKTAILS :</h1>
  </div>

  <% @cocktails.each do |cocktail| %>
    <div class="card landing-card">
      <div class="card-body d-flex justify-content-between">
        <%= cocktail.name %>
        <%= link_to "RECIPE >", cocktail_path(cocktail), class: "btn-recipe"%>
      </div>
    </div>
  <% end %>

  <div class="create d-flex justify-content-center">
    <%= link_to 'CREATE', new_cocktail_path, class: "btn" %>
  </div>

  <div class="create d-flex justify-content-center">
    <%= link_to 'SEND AN EMAIL', home_index_path, class: "btn" %>
  </div>

</div>
